<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crear activo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/crear_activo.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logoSentinels" alt="logo de Sentinels">
        <form method="POST" action="/actualizaractivo/{{ key }}">
            <section class="contenedorFormulario">
                <h1 class="titulo">Actualizar de activos</h1>
                    <div class="contenedorInterno">
                        <div class="columna">
                            <section class="tituloInput">
                                <h1 class="titulos">ID</h1>
                                <input type="hidden"  name="key" value="{{key}}">
                                <input type="text" id="id" name="id" value="{{ campo['id'] }}" required>
                            </section>
                            <section class="tituloInput">
                                <h1 class="titulos">Área</h1>
                                <input type="text" id="area" name="area" value="{{ campo['area'] }}" required>
                            </section>
                            <section class="tituloInput">
                                <h1 class="titulos">Propietario</h1>
                                <input type="text" id="propietario" name="propietario" value="{{ campo['propietario'] }}" required>
                            </section>
                            <section class="tituloInput">
                                <h1 class="titulos">Función</h1>
                                <input type="text" id="funcion" name="funcion" value="{{ campo['funcion'] }}" required>
                            </section>
                            <section class="tituloTextoSlider">
                                <h1 class="titulos">Conexión</h1>
                                <section class="contenedorSlider">
                                    <p>¿Tiene acceso a internet?</p>
                                    <div class="conjuntoSliderTexto">
                                        <p>No</p>
                                        <label class="toggle-switch">
                                            <input type="checkbox" id="conexion" name="conexion" {{ 'checked' if campo['conexion'] == 'Sí' else '' }}>
                                            <span class="slider" id="slider"></span>
                                        </label>
                                        <p>Sí</p>
                                    </div>
                                </section>
                            </section>
                        </div>
                        <div class="columna">
                            <section class="tituloInput">
                                <h1 class="titulos">Criticidad</h1>
                                <div class="containerInputs">
                                    <p>
                                        Cantidad, en dólares, que
                                        representaría la pérdida,
                                        alteración, o filtración del activo
                                    </p>
                                    <input type="number" id="criticidad" name="criticidad" value="{{ campo['criticidad'] }}" min="1" required>
                                </div>
                            </section>
                            <section class="tituloInput">
                                <h1 class="titulos">Ubicación</h1>
                                <input type="text" id="ubicacion" name="ubicacion" value="{{ campo['ubicacion'] }}" required>
                            </section>
                            <section class="tituloInput">
                                <h1 class="titulos">Categoría</h1>
                                <div class="containerInputs">
                                    <p>
                                        Seleccione una categoría:
                                    </p>
                                    <select name="categoria" id="categoria">
                                        <option value="DC" {% if campo['categoria'] == 'DC' %}selected{% endif %}>DC (Documentación)</option>
                                        <option value="SW" {% if campo['categoria'] == 'SW' %}selected{% endif %}>SW (Software)</option>
                                        <option value="HW" {% if campo['categoria'] == 'HW' %}selected{% endif %}>HW (Hardware)</option>
                                        <option value="R" {% if campo['categoria'] == 'R' %}selected{% endif %}>R (Redes)</option>
                                        <option value="P" {% if campo['categoria'] == 'P' %}selected{% endif %}>P (Personal)</option>
                                        <option value="DT" {% if campo['categoria'] == 'DT' %}selected{% endif %}>DT (Datos)</option>
                                        <option value="DM" {% if campo['categoria'] == 'DM' %}selected{% endif %}>DM (Dominio o subdominio)</option>
                                        <option value="IF" {% if campo['categoria'] == 'IF' %}selected{% endif %}>IF (instalaciones físicas)</option>
                                        <option value="PI" {% if campo['categoria'] == 'PI' %}selected{% endif %}>PI (Propiedad intelectual)</option>
                                    </select>
                                </div>
                                <input type="hidden" name="categoria_text" id="categoria_text">
                            </section>
                            <section class="tituloInput">
                                <h1 class="titulos">Clasificación</h1>
                                <div class="containerInputs">
                                    <p>
                                        Seleccione el nivel de acceso que maneja el activo:
                                    </p>
                                    <select name="clasificacion" id="clasificacion">
                                        <option value="clasificacionConfidencial" {% if campo['clasificacion'] == 'Confidencial' %}selected{% endif %}>Confidencial</option>
                                        <option value="clasificacionDifusiónLimitada" {% if campo['clasificacion'] == 'Difusión limitada' %}selected{% endif %}>Difusión limitada</option>
                                        <option value="clasificacionPública" {% if campo['clasificacion'] == 'Pública' %}selected{% endif %}>Pública</option>
                                    </select>
                                </div>
                                <input type="hidden" name="clasificacion_text" id="clasificacion_text">
                            </section>
                        </div>
                        <div class="columna">
                            <section class="tituloInput">
                                <h1 class="titulos">Valor</h1>
                                <div class="containerInputs">
                                    <p>
                                        Cantidad, en dólares, por la que fue adquirido el activo:
                                    </p>
                                    <input type="number" id="valor" name="valor" value="{{ campo['valor'] }}" min="1" required>
                                </div>
                            </section>
                            <section class="tituloInput">
                                <h1 class="titulos">Utilidad</h1>
                                <div class="containerInputs">
                                    <p>
                                        Nivel de utilidad del activo para la empresa:
                                    </p>
                                    <select name="utilidad" id="utilidad">
                                        <option value="utilidadBaja" {% if campo['utilidad'] == 'Baja' %}selected{% endif %}>Baja</option>
                                        <option value="utilidadMedia" {% if campo['utilidad'] == 'Media' %}selected{% endif %}>Media</option>
                                        <option value="utilidadAlta" {% if campo['utilidad'] == 'Alta' %}selected{% endif %}>Alta</option>
                                    </select>
                                </div>
                                <input type="hidden" name="utilidad_text" id="utilidad_text">
                            </section>
                        </div>
                    </div>
                <button class="botonIngresar" type="submit">Actualizar activo</button>
                <a href="/eliminaractivo/{{ key }}" onclick="return confirm('¿Seguro deseas eliminar?')"> 
                    <button class="botonEliminar" type="button">Eliminar activo</button>
                </a>
                <p class="mensaje">*Todos los campos son obligatorios </p>
                <div class="back">
                    <a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='images/atras.png') }}" alt="Imagen back"></a>
                    <p>Cancelar</p>
                </div>
                <button type="button" class="botonCancelar"></button>
            </section>
        </form>
        <script>
            const form = document.querySelector('form');
            form.addEventListener('submit', event => {
                const select = document.querySelector('#categoria');
                const selectedOptionText = select.options[select.selectedIndex].text.split(' ')[0];
                const hiddenInput = document.querySelector('#categoria_text');
                hiddenInput.value = selectedOptionText;

                const select1 = document.querySelector('#clasificacion');
                const selectedOptionText1 = select1.options[select1.selectedIndex].text;
                const hiddenInput1 = document.querySelector('#clasificacion_text');
                hiddenInput1.value = selectedOptionText1;

                const select2 = document.querySelector('#utilidad');
                const selectedOptionText2 = select2.options[select2.selectedIndex].text;
                const hiddenInput2 = document.querySelector('#utilidad_text');
                hiddenInput2.value = selectedOptionText2;
            });
        </script>
    </body>
</html>