<!DOCTYPE html>
<html>
<head>
    <title>Calculadora de Riesgo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
            text-align: center;
        }

        h1 {
            color: #0600c3;
        }

        table {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        th {
            background-color: #0600c3;
            color: #fff;
        }

        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
        }
        
        

    </style>
</head>
<body>
    <a class="" href="/dashboard">Pagina principal</a>
    <div class="container">
        <h1>Tabla de Amenazas</h1>
        <table class="table table-striped">
            <tr>
                <th>Código</th>
                <th>Amenaza</th>
                <th>Vulnerabilidad</th>
                <th>Calificación</th>
            </tr>
            {% for dato in datos %}
                <tr>
                    <td>{{ dato.codigo.replace('_', '.') }}</td>
                    <td>{{ dato.amenaza }}</td>
                    <td>{{ dato.vulnerabilidad }}</td>
                    <td>{{ dato.calificacion }}</td>
                </tr>
            {% endfor %}
        </table>

        <form method="POST" action="/calcular_riesgo/{{ key }}">
            <div class="form-group">
                <label for="probabilidad">Probabilidad</label>
                <div class="slider-container">
                    <input type="range" class="form-control-range" id="probabilidad" name="probabilidad" min="1" max="100">
                    <output id="probabilidad-output"></output>
                </div>
                <br>
                <p> Es un valor entre 0.01 y 1.00 (1% - 100%), que representa la probabilidad
                    promedio de que el activo esté expuesto a las amenazas establecidas como posibles de acuerdo
                    con su categoría. Al valor mínimo es 1% debido a que, si bien la probabilidad de que una
                    amenaza ocurra puede ser muy baja, esta nunca puede llegar a ser 0%.</p>
            </div>

            <div class="form-group">
                <label for="preventivos">Preventivos</label>
                <input type="range" class="form-control-range" id="preventivos" name="preventivos" min="0" max="19">
                <output id="preventivos-output"></output>
                <br>
                <p>Firewalls, antivirus, control de accesos. Se debe atribuir un valor entre 0.00
                    y 0.19 de acuerdo con la efectividad de los controles existentes dentro de esa categoría.
                    0.00 es el valor atribuido si no existe ningún control existente dentro de esa categoría, y
                    0.19 es la calificación máxima de efectividad que llegan a tener el o los controles
                    existentes.</p>
            </div>

            <div class="form-group">
                <label for="deteccion">Detección</label>
                <input type="range" class="form-control-range" id="deteccion" name="deteccion" min="0" max="19">
                <output id="deteccion-output"></output>
                <br>
                <p>Sistemas de monitoreo de red, IDS, Detectores de presencia. Se debe atribuir un valor entre 0.00
                    y 0.19 de acuerdo con la efectividad de los controles existentes dentro de esa categoría.
                    0.00 es el valor atribuido si no existe ningún control existente dentro de esa categoría, y
                    0.19 es la calificación máxima de efectividad que llegan a tener el o los controles
                    existentes.</p>
            </div>

            <div class="form-group">
                <label for="correctivos">Correctivos</label>
                <input type="range" class="form-control-range" id="correctivos" name="correctivos" min="0" max="19">
                <output id="correctivos-output"></output>
                <br>
                <p>Actualización de Sistema Operativo, restauración
                    copias de respaldo. Se debe atribuir un valor entre 0.00
                    y 0.19 de acuerdo con la efectividad de los controles existentes dentro de esa categoría.
                    0.00 es el valor atribuido si no existe ningún control existente dentro de esa categoría, y
                    0.19 es la calificación máxima de efectividad que llegan a tener el o los controles
                    existentes.</p>
            </div>

            <div class="form-group">
                <label for="compensacion">Compensación</label>
                <input type="range" class="form-control-range" id="compensacion" name="compensacion" min="0" max="19">
                <output id="compensacion-output"></output>
                <br>
                <p>Copias de seguridad, Aislamiento del equipo
                    (Servidores, Switches, Routers, etc). Se debe atribuir un valor entre 0.00
                    y 0.19 de acuerdo con la efectividad de los controles existentes dentro de esa categoría.
                    0.00 es el valor atribuido si no existe ningún control existente dentro de esa categoría, y
                    0.19 es la calificación máxima de efectividad que llegan a tener el o los controles
                    existentes.</p>
            </div>

            <div class="form-group">
                <label for="fisicos">Físicos</label>
                <input type="range" class="form-control-range" id="fisicos" name="fisicos" min="0" max="19">
                <output id="fisicos-output"></output>
                <br>
                <p>Equipos con cerraduras, guardias, tarjetas de
                    control de acceso, sistemas de control de acceso
                    biométrico, cámaras de vigilancia, etc. Se debe atribuir un valor entre 0.00
                    y 0.19 de acuerdo con la efectividad de los controles existentes dentro de esa categoría.
                    0.00 es el valor atribuido si no existe ningún control existente dentro de esa categoría, y
                    0.19 es la calificación máxima de efectividad que llegan a tener el o los controles
                    existentes.</p>
            </div>

            <button type="submit" class="btn btn-primary" style="background-color: #0600c3;">Calcular Riesgo</button>

            <br>
            <br>
            <br>
        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        const probabilidadSlider = document.querySelector('#probabilidad');
        const probabilidadOutput = document.querySelector('#probabilidad-output');
        probabilidadOutput.textContent = probabilidadSlider.value;
        probabilidadSlider.addEventListener('input', () => {
            probabilidadOutput.textContent = probabilidadSlider.value;
        });

        const preventivosSlider = document.querySelector('#preventivos');
        const preventivosOutput = document.querySelector('#preventivos-output');
        preventivosOutput.textContent = preventivosSlider.value;
        preventivosSlider.addEventListener('input', () => {
            preventivosOutput.textContent = preventivosSlider.value;
        });

        const deteccionSlider = document.querySelector('#deteccion');
        const deteccionOutput = document.querySelector('#deteccion-output');
        deteccionOutput.textContent = deteccionSlider.value;
        deteccionSlider.addEventListener('input', () => {
            deteccionOutput.textContent = deteccionSlider.value;
        });

        const correctivosSlider = document.querySelector('#correctivos');
        const correctivosOutput = document.querySelector('#correctivos-output');
        correctivosOutput.textContent = correctivosSlider.value;
        correctivosSlider.addEventListener('input', () => {
            correctivosOutput.textContent = correctivosSlider.value;
        });

        const compensacionSlider = document.querySelector('#compensacion');
        const compensacionOutput = document.querySelector('#compensacion-output');
        compensacionOutput.textContent = compensacionSlider.value;
        compensacionSlider.addEventListener('input', () => {
            compensacionOutput.textContent = compensacionSlider.value;
        });

        const fisicosSlider = document.querySelector('#fisicos');
        const fisicosOutput = document.querySelector('#fisicos-output');
        fisicosOutput.textContent = fisicosSlider.value;
        fisicosSlider.addEventListener('input', () => {
            fisicosOutput.textContent = fisicosSlider.value;
        });
    </script>
</body>
</html>
